/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*--------------------------------------------------------------
 * # Variables
 * ------------------------------------------------------------- */
/* Color */
/* Typography Variables. Change scale using Gridlovers.net */
/* Break Points */
/* Random standard Desktop Sizes */
/*--------------------------------------------------------------
 * # Mixins
 * ------------------------------------------------------------- */
/*--------------------------------------------------------------
 * # Alignments
 * ------------------------------------------------------------- */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
 * # Base Layout
 * ------------------------------------------------------------- */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -o-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }
  *:before {
    -o-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }
  *:after {
    -o-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.8125em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

h1 {
  margin: 0 0 0.42647em 0;
  line-height: 1.27941em;
  font-size: 4.25em; }

h2 {
  margin: 0 0 0.69048em 0;
  line-height: 1.38096em;
  font-size: 2.625em; }

h3 {
  margin: 0 0 1.11538em 0;
  line-height: 1.11538em;
  font-size: 1.625em; }

h4 {
  margin: 0 0 1.8125em 0;
  line-height: 1.8125em;
  font-size: 1em; }

a {
  text-decoration: none;
  color: blue; }
  a:hover {
    text-decoration: none;
    color: #0000cc; }
  a:visited {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

ul, ol {
  margin: 0;
  padding: 0; }

/*--------------------------------------------------------------
 * # Layout CSS
 * ------------------------------------------------------------- */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.navigation {
  list-style-type: none;
  margin: 0; }
  .navigation > li {
    display: block;
    float: left; }
  .navigation:last-child {
    margin-right: 0px; }
  .navigation a {
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    /* If darken is true then darken it */ }
    .navigation a:hover {
      color: black; }
  .navigation:after {
    content: "";
    display: table;
    clear: both; }

/*--------------------------------------------------------------
 * # Modules Index
 * ------------------------------------------------------------- */
/*--------------------------------------------------------------
 * # Forms
 * ------------------------------------------------------------- */
form {
  width: 100%; }

textarea {
  resize: vertical; }

label {
  display: inline-block; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1em;
  line-height: 1.8125em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  outline: 0; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, textarea:focus {
    border-color: #555; }

.form-group {
  margin-bottom: 1em; }

.selection-group {
  position: relative;
  margin-bottom: 1em; }
  .selection-group label {
    margin-left: 10px; }
    .selection-group label:first-child {
      margin: 0; }
  .selection-group input {
    margin: 0;
    padding: 5px;
    height: 16px;
    width: 16px; }
    .selection-group input:active {
      background-color: red; }

button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1em;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px; }
  button:hover {
    background-color: #e6e6e6; }

/*--------------------------------------------------------------
 * # State Changes
 * ------------------------------------------------------------- */
.is-hidden {
  display: none; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
