/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Variables */
/* Color */
/* Typography Variables. Change scale using Gridlovers.net */
/* Break Points */
/* Random standard Desktop Sizes */
/* Utility Classes */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.center {
  text-align: center; }

.floated {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden; }
  .floated li {
    float: left; }
    .floated li a {
      display: inline-block;
      padding: 10px; }

/* Base Layout */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -o-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }
  *:before {
    -o-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }
  *:after {
    -o-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.8125em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

h1 {
  margin: 0 0 0.42647em 0;
  line-height: 1.27941em;
  font-size: 4.25em; }

h2 {
  margin: 0 0 0.69048em 0;
  line-height: 1.38096em;
  font-size: 2.625em; }

h3 {
  margin: 0 0 1.11538em 0;
  line-height: 1.11538em;
  font-size: 1.625em; }

h4 {
  margin: 0 0 1.8125em 0;
  line-height: 1.8125em;
  font-size: 1em; }

a {
  text-decoration: none;
  color: blue; }
  a:hover {
    text-decoration: none;
    color: #0000cc; }
  a:visited {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

form {
  width: 100%;
  margin: 0;
  padding: 0; }

/* Layout CSS */
/* Modules CSS */
/* State Changes */
.is-hidden {
  display: none; }
